#mapPage{
    .btn-group-justified{
        margin: auto;
    }
    #map{
        margin: auto;
        height: 65vh;
        margin-bottom: 2em;
    }
    h2{
        margin: 2em 0px .5em;
        font-size: 2em;
    }
}
